@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'UberMove';
  src: url('./fonts/UberMove-Regular.otf');
  src: url('./fonts/UberMove-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UberMove';
  src: url('./fonts/UberMove-Medium.otf');
  src: url('./fonts/UberMove-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UberMoveText';
  src: url('./fonts/UberMoveText-Regular.otf');
  src: url('./fonts/UberMoveText-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'UberMoveText';
  src: url('./fonts/UberMoveText-Medium.otf');
  src: url('./fonts/UberMoveText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pulse {
  animation-name: pulse;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
}

.spinner {
  position: relative;
  z-index: 10;
}

.spinner::after {
  content: ' ';
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 113, 243, 1);
  animation-name: sonar;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
}

/* .spinner::before {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 113, 243, 1);
  animation-name: sonar;
  animation-duration: 2.75s;
  animation-iteration-count: infinite;
  animation-delay: 1.30s;
} */

@keyframes sonar {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
  100% {
    transform: scale(50);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
